{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-9 col-xxl-12">
                    <div class="row">

                        <div class="col-xl-12 col-xxl-12 col-lg-12 col-md-12">
                            <div class="card">
                                <article class="pin bg-white rounded shadow">
                                    <div class="p-3">
                                        <h1 class="h5  text-secondary">
                                            {{ departement.name }}
                                        </h1>

                                    </div>
                                        <div>
                                            <table>

                                                <thead>
                                                <tr>
                                                    <th><strong>Nom du festival</strong></th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for festival in departement.festivals %}
                                                    <tr>

                                                        <td><b><a href="{{ path('app_festival_show',{id:festival.id})}}">{{  festival.name | capitalize}}</a></b></td>

                                                    </tr>
                                                {% endfor %}

                                                </tbody>
                                            </table>

                                        </div>
                                </article>



                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block title %}
{{ departement.name }}
{% endblock %}

